
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.bottom
{
	height:10%;
	width:100%;
	position: absolute; 
	bottom: 0;
	text-align: center;
	margin: 0 auto; 
}


button
{
	text-align:center;
	-moz-border-radius: 10px;
  -moz-box-shadow: #ffffff 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.3s ease;
	font-family: 'Source Sans Pro', sans-serif;
/*  background-color: #266f92;*/
  background-color:#eee;
	border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: #ffffff 0px 0px 10px;
  color: black;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}

button:hover
{
  background-color:#aaa;
/*	 #143b4d;*/
}


.texty
{
	padding-top:5px;
	text-align:center;
	color:black;
	font-size:10px;
	cursor:default;
	font-family: Trebuchet MS ;
}

g
{
	fill:default;
	mix-blend-mode:normal;
	
	
}

.node
{
  fill:#ccc;
  stroke-width: 2px;	
	text:black;
}

.node .selected 
{
  stroke: black;
}

rect
{
  stroke-width :10px;	
	fill:white;	
}

body
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 675px;
	background-color:white;
	
}

.link {
  stroke: black;
	stroke-width:6px;
	stroke-opacity:40%;
}

.brush .extent {
  fill-opacity: 0;
  stroke: #2cb1e1;
	stroke-width:2px;
/*  shape-rendering: crispEdges;*/
}

.time
{
	fill:#E7EFC5;
	opacity:50%;
	
}
.signal
{
	fill:#F2E7C9;
	opacity:50%;
	
}
.light
{
	fill:#90B2D6;
	opacity:50%;
	
}		
.car
{
	fill:#A3C4BC;
	opacity:50%;
	
}		
.bike
{
	fill:#BCA9BB;
	opacity:50%;
	
}		
.event
{
	fill:black;
	fill-opacity:50%;
}		

.red
{
	fill:red;
	fill-opacity:50%;
}
.yellow
{
	fill:yellow;
	fill-opacity:50%;
}
.green
{
	fill:green;
	fill-opacity:50%;
}
	
	
	
		
	
	
	
	
	
	
	
